.myNavbar {
	background-color: #0F298F;
}

.myNavbar .navbar-brand, .myNavbar .navbar-text, .myNavbar .nav-link{
	color: white;
	font-size: 20px;
}

.myRow{
	background-color: rgba(255, 255, 255,0.75);
	margin-top: 150px;
}

.myHr {
	border: 1px solid black;
}

.myBx {
  width: 50px;
}

.myMasterImg {
	margin-top: 50px;
}

.myTable {
  width: 500px;
  color: white;
  background-color: #0F298F;
}

.myFooter {
  color: white;
  text-align: center;
  background-color: #0F298F;
}



.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
  @include media-breakpoint-only(md) {
    column-count: 5;
  }
  @include media-breakpoint-only(sm) {
    column-count: 5;
  }
}

/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
  scroll-behavior: smooth;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}